<div class="box">
  <%= simple_form_for([@user, @user.buzzs.build])  do |f|%>
  <%= f.error_notification %>
  <div class="field", , id="testdiv">
  <div class="control">
    <%= f.input :content,  input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, placeholder: "Lets get Buzzing....", autofocus: true, label: false %>
  </div>
</div>
<%= f.button :submit, class: "button is-link" %>
<%end%>
</div>
