<section class="section">
	<div class="container">
		<div class="columns">
			<%= render 'profile'%>
			<div class="column is-three-quarter">
				<%= render 'form'%>
					<%= render  @user.buzzs[0..-2] %>
			</div>
		</div>
	</div>
</section>

