<div class="section">
    <div class="container has-text-centered">
    <div class="columns is-centered">

        <div class="column is-4">
            
        <h2 class="title is-2">Sign Up</h2>

        <%= render 'form', user: @user %>

        <%= link_to 'LogIn Instead', login_path %>
        </div>
        </div>
    </div>
</div>